/* App.css */
body{
    background-color: #0b0a0a;
}
.cardContainer {
    margin-top: 20px;
  }
  
  .card {
    border: 1px solid #e8dfdf;
    border-radius: 8px;
    padding: 20px;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .companyInfo {
    color: #888;
    margin-bottom: 10px;
  }
  
  .description {
    margin-bottom: 10px;
  }
  
  .experience {
    color: #888;
  }
  
  .applyButton {
    margin-top: 10px;
  }
  
